<% include partials/header %>

<div class="jumbotron " style="margin-top: 20px;">
        <h1 class="display-6">Bitcoin</h1>
        <img  src="https://bitcoin.org/img/home/bitcoin-img.svg?1570435560" alt="Bitcoin" height="200px" width="200px" style="float: right;">
        <h2>Ticker Symbol : BTC (₿) </h2>
        <h3><strong>Founder : </strong> Satoshi Nakamoto</h3> 
        <h4><strong>Initial Release : </strong> 3rd January 2009</h4>
        <p class="lead">Bitcoin is a cryptocurrency. It is a decentralized digital currency without a central bank or single administrator that can be sent from user to user on the peer-to-peer bitcoin network without the need for intermediaries.</p>
        <p class="lead">
          <a class="btn btn-primary btn-xl" href="https://en.wikipedia.org/wiki/Bitcoin" role="button">Learn more</a>
        </p>
    </div>

<div class="jumbotron  ">
        <h1 class="display-6">Ether</h1>
        <img clas="img-thumnail" src="https://cdn4.iconfinder.com/data/icons/modern-future-technology/128/crystal-ether-512.png" alt="Ether" height="200px" width="200px" style="float: right;">
        <h2>Ticker Symbol : ETH (Ξ) </h2>
        <h3><strong>Founder : </strong> Vitalik Buterin</h3> 
        <h4><strong>Initial Release : </strong>   30th July 2015</h4>
        <p class="lead">Ether is a digital bearer asset (similar to a security, like a bond, issued in physical form).But instead of operating as a digital currency or payment, ether seeks to provide “fuel” for the decentralized apps on the network.</p>
        <p class="lead">
            <a class="btn btn-primary btn-xl" href="https://en.wikipedia.org/wiki/Ethereum" role="button">Learn more</a>
        </p>
    </div>

<div class="jumbotron  ">
        <h1 class="display-6">Ripple</h1>
        <img clas="img-thumnail" src="https://coindoo.com/wp-content/uploads/2019/01/ripple-logo.png" alt="Ripple" height="200px" width="200px" style="float: right;">
        <h2>Ticker Symbol : XRP </h2>
        <h3><strong>Founder : </strong> Ripple Labs</h3> 
        <h4><strong>Initial Release : </strong>15 May 2018</h4>
        <p class="lead">Ripple is a real-time gross settlement system, currency exchange and remittance network created by Ripple Labs Inc., a US-based technology company.</p>
        <p class="lead">
            <a class="btn btn-primary btn-xl" href="https://en.wikipedia.org/wiki/Ripple_(payment_protocol)" role="button">Learn more</a>
        </p>
    </div>

<div class="jumbotron  ">
        <h1 class="display-6">Litecoin</h1>
        <img clas="img-thumnail" src="https://static.coindesk.com/wp-content/uploads/2014/02/Litecoin-logo.png" alt="Litecoin" height="200px" width="200px" style="float: right;">
        <h2>Ticker Symbol : LTC </h2>
        <h3><strong>Founder : </strong> Charlie Lee</h3> 
        <h4><strong>Initial Release : </strong>7 October 2011</h4>
        <p class="lead">Litecoin is a peer-to-peer cryptocurrency and open-source software project released under the MIT/X11 license. Creation and transfer of coins is based on an open source cryptographic protocol and is not managed by any central authority.</p>
        <p class="lead">
            <a class="btn btn-primary btn-xl" href="https://en.wikipedia.org/wiki/Litecoin" role="button">Learn more</a>
        </p>
    </div>

<div class="jumbotron  ">
        <h1 class="display-6">Bitcoin Cash</h1>
        <img clas="img-thumnail" src="https://upload.wikimedia.org/wikipedia/commons/5/58/Bitcoin_Cash.png" alt="Bitcoin Cash" height="200px" width="200px" style="float: right;">
        <h2>Ticker Symbol : BCH </h2>
        <h3><strong>Founder : </strong> Satoshi Nakamoto</h3> 
        <h3><strong>Initial Release : </strong> 1 August 2017</h3>
        <p class="lead">Bitcoin Cash is a cryptocurrency that is fork of Bitcoin. Bitcoin Cash is a spin-off or altcoin that was created in 2017. In 2018 Bitcoin Cash subsequently split into two cryptocurrencies: Bitcoin Cash, and Bitcoin SV.</p>
        <p class="lead">
            <a class="btn btn-primary btn-xl" href="https://en.wikipedia.org/wiki/Bitcoin_Cash" role="button">Learn more</a>
        </p>
    </div>
        